@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

body {
  margin: 10%;
  font-family: "Handlee", cursive;
  line-height: 1.5rem;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

h3 {
  padding-left: 20rem;
}

a :hover {
  font-size: 20px;
}
